.count2{
  font-size: 3rem;
  color: rgb(0, 0, 0);
}
.count3{
  font-size: 3rem;
  color: brown;
}
.container{
  display: flex;
  flex-wrap: nowrap;
  gap: 200px;
}
.raznica{
  height: 65px;
  font-size: 2rem;
  color: rgb(5, 209, 172);
  display: flex;
  flex-wrap: wrap;
}

.container2{
  display: flex;
  flex-wrap: nowrap;
  gap: 200px;
  justify-content: center;
}